
.li-container > * {
  font-weight: 600;
}

.li-container {
  margin: 1em 0;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D9D9D9;
  border-radius: 6px;
}

.li-container > .points-box {
  height: 2em;
  width: 2em;
  padding: 0.5em;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-right: 1em;
}

.li-container > .playerName {
  flex-grow: 1;
}

.li-container > .minus-button, .li-container > .plus-button {
  margin-left: 0.3em;
  height: 2em;
  width: 2em;
  padding: 0.5em;
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.li-container > .minus-button {
  background-color: #FF4747;
}

.li-container > .plus-button {
  background-color: #8BDA4D;
}

.li-container > .three-dots-button {
  margin-left: 0.5em;
  border: none;
  background-color: transparent;
}