
:root {
  --input-size: 2.4em;
  --button-width: 4.5em;
  --button-height: 2.2em;
  --border-radius: 8px;
}

.new-player-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-button {
  border: none;
  background-color: transparent;
}

.new-player-div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: #D9D9D9;
  padding: 1em;
  border-radius: var(--border-radius);
}

.new-player-input {
  border: none;
  background-color: transparent;
  font-size: 1.2em;
}

.focused {
  border: 2px solid black;
}

.new-player-input:focus {
  outline: none;
}

.initial-score-h2 {
  text-align: center;
}

.initial-score-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score-input-number {
  width: var(--input-size);
  height: var(--input-size);
  border-radius: var(--border-radius);
  border: none;
  background-color: #D9D9D9;
  text-align: center;
  font-size: 4em;
  
}

.score-input-number:focus {
  outline-color: #000;
}

.initial-score-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.initial-score-buttons > * {
  width: var(--button-width);
  height: var(--button-height);
  border: none;
  font-size: 2em;
}

.plus-button {
  -webkit-border-top-left-radius: var(--border-radius);
  -webkit-border-top-right-radius: var(--border-radius);
  -moz-border-radius-topleft: var(--border-radius);
  -moz-border-radius-topright: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: #76DD45;
}

.plus-button:active {
  background-color: #73b952;
}

.minus-button {
  -webkit-border-bottom-right-radius: var(--border-radius);
  -webkit-border-bottom-left-radius: var(--border-radius);
  -moz-border-radius-bottomright: var(--border-radius);
  -moz-border-radius-bottomleft: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: #F43838;
}

.minus-button:active {
  background-color: #da2d2d;
}